<div class="mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>


    <!-- Name Column -->
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let row"> <a [routerLink]="['/word/', 'word-search', row.text]">{{row.text}}</a>  </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Poids </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator
                 [pageSizeOptions]="[10, 25, 50]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
