<div class="container">

  <form #searchForm="ngForm" (ngSubmit)="searchForm.valid && submitWordSearch()">
    <div class="row">
      <div class="col-md-3 col-xs-4">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <mat-form-field class="col-12" appearance="outline" color="warn" >
              <mat-label>Recherchez un mot</mat-label>
              <input type="text" placeholder="Ex: Chat" aria-label="Word" matInput [formControl]="nameControl" [matAutocomplete]="wordAuto" required>
              <mat-error *ngIf="searchForm.submitted && searchForm.valid"> Champ Manquant !</mat-error>
              <mat-autocomplete #wordAuto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <mat-slide-toggle color="warn" aria-label="tri" [checked]="checked" (change)="checked = $event.source.checked" >
              <span class="mat-slide-toggle-content" *ngIf="checked">Tri : lexicographique</span>
              <span class="mat-slide-toggle-content" *ngIf="!checked">Tri : par poids</span>
            </mat-slide-toggle>

          </div>
        </div>
      </div>
      <div class="col-lg-6  col-md-6 col-xs-8">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <mat-form-field class="example-chip-list">
              <input
                placeholder="Types de relations.. "
                #relationInput
                [formControl]="relationCtrl"
                [matAutocomplete]="relationAuto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">

              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let relation of relations"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(relation)"
                  matTooltip="{{relation.definition}}">
                  {{relation.name}}
                  <mat-icon matChipRemove svgIcon="cancel" *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>

              <mat-autocomplete #relationAuto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let relation of filteredRelations" [value]="relation">
                  {{relation.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-center">
            <mat-button-toggle-group multiple="true" value="All"  #relationsTypesgroup="matButtonToggleGroup">
              <mat-button-toggle value="rIn" [checked]="rIn" (change)="rIn = $event.source.checked">
                Relations Entrantes
              </mat-button-toggle>
              <mat-button-toggle value="rOut" [checked]="rOut" (change)="rOut = $event.source.checked">
                Relations sortantes
              </mat-button-toggle>
            </mat-button-toggle-group>

            <!--{{relationsTypesgroup.value}}-->
          </div>
          <div class="spacer"></div>
        </div>
      </div>

      <div class="form-group col-md-3  col-lg-3 justify-content-center align-items-center" style="text-align: center">
        <button mat-raised-button color="warn" [disabled]="loading" class="btn btn-primary">Recherche</button>
        <div *ngIf="loading">
          <mat-spinner color="warn"></mat-spinner>
        </div>
      </div>
    </div>
  </form>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <div class="spacer"></div>

  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


