.spacer {
  margin-bottom: 15px;
}

.title {
  font-size: 1em;
  text-align: center;
}

@media screen and (max-width: 576px ) {
  .title {
    font-size: 0.6em;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px ) {
  .title {
    font-size: 0.6em;
    font-weight: bold;
  }
}


