<header>
  <mat-toolbar  color="warn">
    <div class="container content ">
      <div class="row">
        <img class="img-title col-xs-3 d-inline d-md-none justify-content-start" alt="JDM-AF Logo" src="../assets/img/jdm1.svg">
        <div class="col-xs-8 title align-self-center d-inline d-md-none" >Le navigateur de JeuxDeMot.org !</div>
        <div class="col-md-12 title align-self-center d-none d-md-block" >Le navigateur de JeuxDeMots.org !</div>
      </div>
    </div>
  </mat-toolbar>

  <div class="row align-items-center justify-content-center">
    <img class="img-title d-none d-md-block" width="400" height="auto" alt="JDM-AF Logo" src="../assets/img/logo-jdm.png">
  </div>
</header>

<div class="spacer"></div>

<div class="container content">

  <app-words></app-words>

</div>
